<nav class="navbar navbar-expand-lg navbar-color-override">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img
        title="Logo Mešihata islamske zajednice"
        src="../assets/images/logo_muftijstvo.svg"
        alt="Logo muftijstva sandzackog"
        width="40"
        height="40"
      >
    </a>
    <button
      title="Pritisni za prikazivanje ili sakrivanje dodatnih polja"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navItemsContent"
      aria-controls="navItemsContent"
      aria-expanded="false"
      aria-label="Toggle menu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navItemsContent">
      <div class="col-lg-4 col-xl-5 col">
        <app-search></app-search>
      </div>
      <div class="d-flex-md ms-md-auto">
        <app-select></app-select>
      </div>
    </div>
  </div>
</nav>
