/* Hover Effect */
.hover-effect:hover {
  color: #fff;
  cursor: pointer;
  background-color: #86b7fe;
  border-color: #86b7fe;
  outline: 0;
}

.hover-effect:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}