<div class="navbar-nav">
  <ng-select
    title="Padajući meni za odabir tipa vakufa"
    class="custom m-1"
    id="vakufType"
    name="vakufType"
    placeholder="Tip vakufa"
    [(ngModel)]="selectedVakufType"
    (ngModelChange)="filterMarkersNames(); handleVakufTypeChange()"
  >
    <ng-option *ngFor="let vakufType of vakufObjectTypes" [value]="vakufType">
      {{ vakufType }}
    </ng-option>
  </ng-select>

  <ng-select
    title="Padajući meni za odabir grada"
    #openCities
    class="custom m-1"
    id="selectedCity"
    name="selectedCity"
    placeholder="Grad"
    [(ngModel)]="selectedCity"
    (ngModelChange)="filterMarkersNames(); handleCityChange()"
  >
    <ng-option *ngFor="let cityName of vakufCities" [value]="cityName">
      {{ cityName }}
    </ng-option>
  </ng-select>

  <ng-select
    title="Padajući meni za odabir naziva vakufa"
    #openVakufNames
    class="custom m-1"
    style="min-width: 250px"
    id="filteredVakufNames"
    name="filteredVakufNames"
    placeholder="Naziv vakufa"
    [(ngModel)]="selectedVakufName"
    (ngModelChange)="filterMarkers()"
  >
    <ng-option *ngFor="let name of filteredMarkersNames" [value]="name">
      {{ name | ellipsis : 30 }}
    </ng-option>
  </ng-select>
</div>
