<div class="navbar-nav">
  <ng-select
    id="vakufType"
    class="custom m-1"
    name="vakufType"
    title="Padajući meni za odabir tipa vakufa"
    #openVakufTypes
    placeholder="Tip vakufa"
    [(ngModel)]="selectedVakufType"
    (ngModelChange)="filterMarkersNames(); handleVakufTypeChange()"
  >
  @for(vakufType of vakufObjectTypes; track vakufType) {
    <ng-option [value]="vakufType">
      {{ vakufType }}
    </ng-option>
  }
  </ng-select>

  <ng-select
    id="selectedCity"
    class="custom m-1"
    name="selectedCity"
    title="Padajući meni za odabir grada"
    #openCities
    placeholder="Grad"
    [(ngModel)]="selectedCity"
    (ngModelChange)="filterMarkersNames(); handleCityChange()"
  >
    @for (cityName of vakufCities; track cityName) {
      <ng-option [value]="cityName">
        {{ cityName }}
      </ng-option>
    }
  </ng-select>

  <ng-select
    id="filteredVakufNames"
    class="custom m-1"
    name="filteredVakufNames"
    title="Padajući meni za odabir naziva vakufa"
    #openVakufNames
    style="min-width: 250px"
    placeholder="Naziv vakufa"
    [(ngModel)]="selectedVakufName"
    (ngModelChange)="filterMarkersNames(); handleMarkersNamesChange()"
  >
  @for (name of filteredMarkersNames; track name) {
    <ng-option [value]="name">
      {{ name | ellipsis : 30 }}
    </ng-option>
  }
  </ng-select>
</div>
