<div class="navbar-nav">
  <ng-select
    class="custom m-1"
    name="vakufType"
    aria-label="Vakuf Type"
    aria-labelledby="vakufTypeLabel"
    placeholder="Tip vakufa"
    [(ngModel)]="selectedVakufType"
    (change)="filterMarkersName(); onVakufTypeChange()"
  >
    <ng-option
      class="hover-effect"
      *ngFor="let vakufType of vakufObjectTypes$ | async"
      [value]="vakufType"
    >
      {{ vakufType }}
    </ng-option>
  </ng-select>

  <ng-select
    #openCities
    class="custom m-1"
    name="selectedCity"
    aria-label="City"
    placeholder="Grad"
    aria-labelledby="cityLabel"
    [(ngModel)]="selectedCity"
    (change)="filterMarkersName(); onCityChange()"
  >
    <ng-option
      class="hover-effect"
      *ngFor="let cityName of vakufCities$ | async"
      [value]="cityName"
    >
      {{ cityName }}
    </ng-option>
  </ng-select>

  <ng-select
    #openVakufNames
    class="custom m-1"
    name="filteredVakufNames"
    aria-label="Vakuf name"
    placeholder="Naziv vakufa"
    aria-labelledby="vakufNameLabel"
    [(ngModel)]="selectedVakufName"
    (change)="filterMarkers()"
  >
    <ng-option
      class="hover-effect"
      *ngFor="let name of selectFilteredMarkerNames"
      [value]="name"
    >
      {{ name | ellipsis : 25 }}
    </ng-option>
  </ng-select>
</div>