#map-canvas {
  min-height: 750px; /* Minimum height of 750 pixels */
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
  border-bottom-left-radius: 15px; /* Border radius for the bottom-left corner */
  border-bottom-right-radius: 15px; /* Border radius for the bottom-right corner */
}
