#map-canvas {
  min-height: 750px; /* Minimum height of 750 pixels */
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
  border-bottom-left-radius: var(--border-radius-base); /* Border radius for the bottom-left corner */
  border-bottom-right-radius: var(--border-radius-base); /* Border radius for the bottom-right corner */
}

.btn-bg-theme-style {
  background-color: var(--color-primary);
  color: var(--text-color-base);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Combine transition properties */
}

.btn-bg-theme-style:hover {
  color: var(--color-secondary);
  background-color: var(--color-primary); /* No change needed here, but ensure it's intentional */
}