<div class="input-group m-1">
  <input
    class="form-control mt-sm-0 mt-2"
    type="search"
    name="searchQuery"
    aria-label="Search"
    placeholder="Naziv vakufa | broj parcele"
    autocomplete="off"
    [(ngModel)]="searchQuery"
    (input)="filterMarkers(); handleSearchInput($event)"
    (keydown)="handleArrowKeyNavigation($event)"
  />
  <span class="input-group-append">
    <span class="input-group-text" *ngIf="searchQuery.length === 0">
      <i
      [ngClass]="{'fas-sharp fa-solid fa-magnifying-glass-location fa-lg mt-sm-0 mt-2': searchQuery.length === 0}"
      style="color: #27a27a"
    >
    </i>
    </span>
  </span>
  <ul 
    class="list-group search-suggestions" *ngIf="isSuggestionsVisible"
    role="listbox" aria-live="assertive" aria-atomic="true"
    >
    <li
      class="list-group-item"
      style="color: #ccc"
      *ngIf="suggestionsList.length === 0"
    >
      Nema vakufa za unijeti naziv | parcelu
    </li>
    <li
      role="option" 
      aria-labelledby="suggestions-label"
      class="list-group-item hover-effect"
      tabindex="{{ i === selectedSuggestionIndex ? 0 : -1 }}"
      *ngFor="let suggestion of suggestionsList; let i = index"
      (click)="selectSearchSuggestion(suggestion)"
      (keydown)="handleArrowKeyNavigation($event, i)"
    >
      <span [innerHTML]="suggestion | highlightSearchTerm : searchQuery">
      </span>
    </li>
  </ul>
</div>
