<div class="m-1">
  <div class="input-group mt-2 mt-lg-0">
    <span
      *ngIf="searchQuery === '' || !validateInputField(searchQuery) ; else showCountNumber"
      id="searchIcon"
      class="input-group-text"
    >
      <i class="fas fa-search-location fa-lg search-icon"></i>
    </span>
    <ng-template #showCountNumber>
      <span class="input-group-text" id="searchCountNumber">
        {{ suggestionsList.length }}
      </span>
    </ng-template>
    <input
      class="form-control"
      type="search"
      name="searchQuery"
      aria-label="Search"
      aria-haspopup="listbox"
      aria-controls="suggestion-list"
      aria-describedby="searchIcon searchCountNumber"
      placeholder="Naziv vakufa | broj parcele"
      autocomplete="off"
      [(ngModel)]="searchQuery"
      (ngModelChange)="searchQueryChanges.next(searchQuery)"
      (keydown)="handleSearchNavigationKeys($event, selectedSuggestionIndex)"
    >
  </div>
  <div
    class="input-group mt-1"
    *ngIf="isSuggestionsVisible"
    role="listbox"
    aria-live="assertive"
    aria-atomic="true"
    id="suggestion-list"
  >
    <div
      *ngIf="suggestionsList.length === 0"
      class="list-group search-suggestions"
    >
      <span class="list-group-item text-muted"
        >Nema vakufa za unijeti kriterijum</span
      >
    </div>
    <cdk-virtual-scroll-viewport
      class="list-group search-suggestions"
      [itemSize]="50"
    >
      <div
        *cdkVirtualFor="let suggestion of suggestionsList; let i = index"
        class="list-group-item hover-effect"
        [ngClass]="{ selected: i === selectedSuggestionIndex }"
        role="option"
        [attr.tabindex]="i === selectedSuggestionIndex ? '0' : '-1'"
        (click)="selectSearchSuggestion(suggestion)"
        (keydown)="handleSearchNavigationKeys($event, i)"
      >
        <span
          [innerHTML]="
            suggestion | highlightSearchTerm : searchQuery || 'Učitavanje'
          "
        ></span>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
