/* Importing styles from ng-select library */
@import "@ng-select/ng-select/themes/default.theme.css";

/* Global styles for the entire body */
body {
  background-image: url("./assets/images/info-window-background.png"); /* Background image */
  background-attachment: fixed; /* Fixed background attachment */
  background-position: center center; /* Centered background position */
  background-size: auto; /* Auto background size */
  background-repeat: repeat; /* Repeating background */
  font-family: "Raleway", sans-serif; /* Font family for the entire body */
}

/* Styling for all images on the page */
img {
  border-radius: 15px; /* Border-radius for rounded corners */
}

/* Styling for the custom info window */
.infowindow {
  max-height: max-content; /* Maximum height with content-based sizing */
  max-width: max-content; /* Maximum width with content-based sizing */
}

/* Styling for the custom ng-select component */
.ng-select.custom {
  border: 0px; /* No border */
  min-height: 0px; /* Minimum height */
  width: 100%; /* Full width */
  border-radius: 5px; /* Border radius for rounded corners */
}

/* Styling for ng-select container in the custom ng-select component */
.ng-select.custom .ng-select-container {
  min-height: 0px; /* Minimum height */
  border-radius: 5px; /* Border radius for rounded corners */
  width: 100%; /* Full width */
}

/* Styling for the placeholder in the custom ng-select component */
.ng-select.custom .ng-select-container .ng-placeholder {
  color: #8C8C8C; /* Placeholder text color */
  font-weight: 300; /* Placeholder font weight */
}
