/* Importing styles from ng-select library */
@import "@ng-select/ng-select/themes/default.theme.css";

/* Global styles for the entire body */
body {
  background-image: url("./assets/images/info-window-background.png"); /* Background image */
  background-attachment: fixed; /* Fixed background attachment */
  background-position: center center; /* Centered background position */
  background-size: auto; /* Auto background size */
  background-repeat: repeat; /* Repeating background */
  font-family: 'Open Sans', sans-serif; /* Font family for the entire body */
}

/* Styling for all images on the page */
img {
  border-radius: 15px; /* Border-radius for rounded corners */
}

/* Styling for the custom info window */
.gm-style-iw {
  max-height: max-content; /* Maximum height with content-based sizing */
  max-width: max-content; /* Maximum width with content-based sizing */
  transition: max-height 0.5s ease-in-out, max-width 0.5s ease-in-out;
  overflow: auto;
}

/* Styling for ng-select container in the custom ng-select component */
.ng-select.custom .ng-select-container {
  min-height: 100%; /* Minimum height */
  min-width: 150px;
  width: 100%;/* Expand to fit content */
  border-radius: 5px; /* Border radius for rounded corners */
}
/* Styling for the placeholder in the custom ng-select component */
.ng-select.custom .ng-select-container .ng-placeholder {
  color: #8c8c8c; /* Placeholder text color */
  font-weight: 300; /* Placeholder font weight */
}

.material-symbols-outlined {
  vertical-align: middle;
  font-size: 25px;
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 24;
}

/* Hover effect styling */
.hover-effect:hover {
  color: #fff; /* Text color on hover */
  cursor: pointer; /* Cursor style on hover */
  background-color: #86b7fe; /* Background color on hover */
  border-color: #86b7fe; /* Border color on hover */
  outline: 0; /* Remove outline on hover */
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25); /* Box shadow on focus */
}

/* Focus effect styling */
.hover-effect:focus {
  color: #fff; /* Text color on hover */
  background-color: #86b7fe; /* Background color on focus */
  border-color: #86b7fe; /* Border color on focus */
  outline: 0; /* Remove outline on focus */
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25); /* Box shadow on focus */
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  color: #fff; /* Text color on hover */
  background-color: #86b7fe; /* Background color on focus */
  border-color: #86b7fe; /* Border color on focus */
  outline: 0; /* Remove outline on focus */
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25); /* Box shadow on focus */
}