/* Importing styles from ng-select library */
@import "@ng-select/ng-select/themes/default.theme.css";

/* Define CSS variables for theme consistency */
:root {
  --font-family-base: "Open Sans", sans-serif;
  --color-primary: #194248;
  --color-secondary: #b6a37c;
  --logo-color: #27a27a;
  --logo-second-color: #367847;
  --text-color-base: white;
  --border-radius-base: 15px;
  --form-select-input-border-radius: 5px;
  --hover-background-color: #86b7fe;
  --placeholder-color: #8c8c8c;
  --border-color-hover: #86b7fe;
  --box-shadow-hover: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

/* Global styles */
body {
  font-family: var(--font-family-base);
}

img {
  border-radius: var(--border-radius-base);
}

.gm-style-iw {
  max-height: max-content;
  max-width: max-content;
  transition: max-height 0.5s ease-in-out, max-width 0.5s ease-in-out;
  overflow: auto;
}

/* ng-select custom styles */
.ng-select.custom .ng-select-container {
  min-height: 100%;
  min-width: 150px;
  width: 100%;
  border-radius: var(--form-select-input-border-radius);
}

.ng-select.custom .ng-select-container .ng-placeholder {
  color: var(--placeholder-color);
  font-weight: 300;
}

.material-symbols-outlined {
  vertical-align: middle;
  font-size: 25px;
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 24;
}

.hover-effect:focus,
.hover-effect:hover,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  color: var(--text-color-base);
  background-color: var(--hover-background-color);
  border-color: var(--border-color-hover);
  outline: 0;
  box-shadow: var(--box-shadow-hover);
  cursor: grab;
}